<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
	<meta charset="UTF-8">
	<title>CareerDevProgram</title>
	<link href='https://fonts.googleapis.com/css?family=Lato:400,100,300' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300' rel='stylesheet' type='text/css'>	<link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css">
	<link rel="stylesheet" href="index.css">
</head>
<body>

	<div class="container" ng-controller="IndexCtrl">
		<div class="masthead">
			<ul class="nav nav-pills pull-right">
				<li class="dropdown">
					<a data-toggle="dropdown" class="dropdown-toggle" href="">Courses <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li class="dropdown-header"><h5>Find Dream Job</h5></li>
						<li><a href="">Salary Negotiation (FREE)</a></li>
						<li><a href="">Resumes & Coverletters</a></li>
						<li><a href="">Behavioral Interviews</a></li>
						<li><a href="">Networking</a></li>
						<li><a href="">Job Search Strategy</a></li>
						<li class="dropdown-header"><h5>Move Up</h5></li>
						<li><a href="">Raise Negotiation (FREE)</a></li>
						<li><a href="">Open Source, Blogging & Speaking</a></li>
						<li><a href="">Goal Setting</a></li>
						<li><a href="">Networking</a></li>
						<li><a href="">Job Search Strategy</a></li>
						<li class="dropdown-header"><h5>Start Up</h5></li>
						<li><a href="">Business Negotiation (FREE)</a></li>
						<li><a href="">Start-up Businesses</a></li>
						<li><a href="">Cash Flow Businesses</a></li>
						<li><a href="">Freelancing & Consulting</a></li>
					</ul>
				</li>
				<li><a href="/#reviews">Reviews</a></li>
				<li><a href="/#faq">FAQ</a></li>
				<li><a href="">About</a></li>
				<li class="btn btn-primary">Login</li>
			</ul>
			<h1 class="muted">CareerDevProgram</h1>
		</div>
		<hr>
		<div class="jumbotron">
			<div class="row">
				<img class="col-md-3 col-md-offset-1" src="http://placehold.it/200x200" alt="">
				<h2 class="col-md-7 col-md-offset-1 jumbotron-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s. </h2>
			</div>
		</div>
		<hr>
		<div>
			<h1>What You'll Learn</h1>
			<div class="row text-center">
				<div class="col-md-4">
					<h4>Awesome Things #1</h4>
					<h4>Awesome Thing #1</h4>
					<h4>Awesome Thing #1</h4>
				</div>
				<div class="col-md-4">
					<h4>Awesome Things #1</h4>
					<h4>Awesome Thing #1</h4>
					<h4>Awesome Thing #1</h4>
				</div>
				<div class="col-md-4">
					<h4>Awesome Things #1</h4>
					<h4>Awesome Thing #1</h4>
					<h4>Awesome Thing #1</h4>
				</div>
			</div>
		</div>
		<hr>
		<div>
			<h1 class="header">How You'll Learn</h1>
			<div class="benefit">
				<h2 class="text-center">Blah Blah</h2>
				<div class="row">
					<img class="col-md-3" src="https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97150&w=350&h=150" alt="">
					<p class="col-md-9">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
				</div>
			</div>
			<div class="benefit">
				<h2 class="text-center">Blah Blah</h2>
				<div class="row">
					<p class="col-md-9">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
					<img class="col-md-3" src="https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97150&w=350&h=150" alt="">
				</div>
			</div>
			<div class="benefit">
				<h2 class="text-center">Blah Blah</h2>
				<div class="row">
					<img class="col-md-3" src="https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97150&w=350&h=150" alt="">
					<p class="col-md-9">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
				</div>
			</div>

		</div>
		<hr>
		<div>
			<h1>Packages</h1>
			<div class="row text-center">
				<div class="col-md-offset-1 col-md-3 course-package" ng-repeat="package in data.packages">
					<h4>{{package.title}}</h4>
					<div class="row course-package-row">
						<img class="col-sm-5" ng-src='{{package.imageurl}}' alt="">
						<p class="col-sm-7 text-left">{{package.description}}</p>
					</div>
					<button class="btn more-info"><a ng-href="{{package.url}}"></a>More Info</button>
					<br>
					<button class="btn btn-success"><a href="">Buy Now: ${{package.price}}</a></button>
				</div>
			</div>
		</div>
		<hr>
		<div>
			<h1 class="header">Your Instructor</h1>
			<div class="benefit">
				<h2 class="text-center">Mike Adams</h2>
				<div class="row">
					<img class="col-md-3 instructor-pic" src="https://pbs.twimg.com/profile_images/720409095564562432/gF6SU9gP.jpg" alt="">
					<p class="col-md-9">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
				</div>
			</div>
		</div>
		<hr>
		<div>
			<h1>Courses</h1>
			<div class="row row-centered text-center course-set">
				<h2 class="package-title text-center">Job Prep Package</h2>
		        <div class="col-xs-3 col-centered">
	        		<div class="course">
	        			<h4>Course Title</h4>
						<img src="http://placehold.it/140x100" alt="">
						<p class="course-description">Course Description Like about how amazing it is</p>
						<button class="btn btn-success">Buy Now: $129</button>
	        		</div>
		        </div>
		        <div class="col-xs-3 col-centered">
	        		<div class="course">
	        			<h4>Course Title</h4>
						<img src="http://placehold.it/140x100" alt="">
						<p class="course-description">Course Description Like about how amazing it is</p>
						<button class="btn btn-success">Buy Now: $129</button>
	        		</div>
		        </div>
		        <div class="col-xs-3 col-centered">
	        		<div class="course">
	        			<h4>Course Title</h4>
						<img src="http://placehold.it/140x100" alt="">
						<p class="course-description">Course Description Like about how amazing it is</p>
						<button class="btn btn-success">Buy Now: $129</button>
	        		</div>
		        </div>
		        <div class="col-xs-3 col-centered">
	        		<div class="course">
	        			<h4>Course Title</h4>
						<img src="http://placehold.it/140x100" alt="">
						<p class="course-description">Course Description Like about how amazing it is</p>
						<button class="btn btn-success">Buy Now: $129</button>
	        		</div>
		        </div>
		    </div>
		    <div class="row row-centered text-center course-set">
				<h2 class="package-title text-center">Job Prep Package</h2>
		        <div class="col-xs-3 col-centered">
	        		<div class="course">
	        			<h4>Course Title</h4>
						<img src="http://placehold.it/140x100" alt="">
						<p class="course-description">Course Description Like about how amazing it is</p>
						<button class="btn btn-success">Buy Now: $129</button>
	        		</div>
		        </div>
		        <div class="col-xs-3 col-centered">
	        		<div class="course">
	        			<h4>Course Title</h4>
						<img src="http://placehold.it/140x100" alt="">
						<p class="course-description">Course Description Like about how amazing it is</p>
						<button class="btn btn-success">Buy Now: $129</button>
	        		</div>
		        </div>
		        <div class="col-xs-3 col-centered">
	        		<div class="course">
	        			<h4>Course Title</h4>
						<img src="http://placehold.it/140x100" alt="">
						<p class="course-description">Course Description Like about how amazing it is</p>
						<button class="btn btn-success">Buy Now: $129</button>
	        		</div>
		        </div>
		        <div class="col-xs-3 col-centered">
	        		<div class="course">
	        			<h4>Course Title</h4>
						<img src="http://placehold.it/140x100" alt="">
						<p class="course-description">Course Description Like about how amazing it is</p>
						<button class="btn btn-success">Buy Now: $129</button>
	        		</div>
		        </div>
		    </div>
		    <div class="row row-centered text-center course-set">
				<h2 class="package-title text-center">Job Prep Package</h2>
		        <div class="col-xs-3 col-centered">
	        		<div class="course">
	        			<h4>Course Title</h4>
						<img src="http://placehold.it/140x100" alt="">
						<p class="course-description">Course Description Like about how amazing it is</p>
						<button class="btn btn-success">Buy Now: $129</button>
	        		</div>
		        </div>
		        <div class="col-xs-3 col-centered">
	        		<div class="course">
	        			<h4>Course Title</h4>
						<img src="http://placehold.it/140x100" alt="">
						<p class="course-description">Course Description Like about how amazing it is</p>
						<button class="btn btn-success">Buy Now: $129</button>
	        		</div>
		        </div>
		        <div class="col-xs-3 col-centered">
	        		<div class="course">
	        			<h4>Course Title</h4>
						<img src="http://placehold.it/140x100" alt="">
						<p class="course-description">Course Description Like about how amazing it is</p>
						<button class="btn btn-success">Buy Now: $129</button>
	        		</div>
		        </div>
		        <div class="col-xs-3 col-centered">
	        		<div class="course">
	        			<h4>Course Title</h4>
						<img src="http://placehold.it/140x100" alt="">
						<p class="course-description">Course Description Like about how amazing it is</p>
						<button class="btn btn-success">Buy Now: $129</button>
	        		</div>
		        </div>
		    </div>

		</div>
		<hr>
		<div id="faq" class="row">
			<h1>F.A.Q.</h1>
			<div class="faq-question" ng-repeat="q in data.faqs">
				<h2>{{q.question}}</h2>
				<p>{{q.answer}}</p>
			</div>
		</div>
		<hr>
		<div class="row">
			<h1 id="reviews">Reviews</h1>
			<div class="row">
				<div class="col-md-6">
					<blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">First Giants game of the year! Jack was not happy to be woken from… <a href="https://t.co/UoZdPaLRCk">https://t.co/UoZdPaLRCk</a></p>&mdash; Mike Adams (@mgadams3) <a href="https://twitter.com/mgadams3/status/723372035989069825">April 22, 2016</a></blockquote>
				</div>
				<div class="col-md-6">
					<blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">First Giants game of the year! Jack was not happy to be woken from… <a href="https://t.co/UoZdPaLRCk">https://t.co/UoZdPaLRCk</a></p>&mdash; Mike Adams (@mgadams3) <a href="https://twitter.com/mgadams3/status/723372035989069825">April 22, 2016</a></blockquote>
				</div>
				<div class="col-md-6">
					<blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">First Giants game of the year! Jack was not happy to be woken from… <a href="https://t.co/UoZdPaLRCk">https://t.co/UoZdPaLRCk</a></p>&mdash; Mike Adams (@mgadams3) <a href="https://twitter.com/mgadams3/status/723372035989069825">April 22, 2016</a></blockquote>
				</div>
				<div class="col-md-6">
					<blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">First Giants game of the year! Jack was not happy to be woken from… <a href="https://t.co/UoZdPaLRCk">https://t.co/UoZdPaLRCk</a></p>&mdash; Mike Adams (@mgadams3) <a href="https://twitter.com/mgadams3/status/723372035989069825">April 22, 2016</a></blockquote>
				</div>
			</div>
		</div>
		<hr>
		<div class="footer muted">
			Copyright 2016
		</div>
	</div>
	
	<script src="/node_modules/angular/angular.js"></script>
	<script src="/node_modules/jquery/dist/jquery.js"></script>
	<script src="/node_modules/bootstrap/dist/js/bootstrap.js"></script>
	<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
	<script src="index.js"></script>
</body>
</html>